* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.first_main_section {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    padding: 3% 10% 5%;
}


.first_main_section .wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
    flex: 1;
}


.first_main_section .header {
    display: flex;
    align-items: center;
    gap: 1.5vh;
}

.first_main_section h3{
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}

.first_main_section a {
    text-decoration: none;
    color:#e5e7eb;
}

.first_main_section .content {
    display: flex;
    gap: 100px;
}

.first_main_section .content .right {
    background-color: rgb(165, 165, 165);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_main_section .content .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.first_main_section .content .left button {
    padding: 5px 25px;
    display: flex;
    text-align: center;
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    border: 0;
    font-weight: 900;
}

h1 {
    font-weight: 900;
    color: #f9faf8;
    font-size: 48px;
}



.second_main_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    padding: 25px;
}

.second_main_section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}


.illustrations {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.illustration_one,
.illustration_two,
.illustration_three,
.illustration_four{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
}

.img_wrapper {
    flex: 0 1 200px;
    border-radius: 8px;
    border: 3px solid #3882f6;
    
}


.third_main_section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
}

.third_main_section p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
}

.quote_text {
    align-self: flex-end;
}

.wrapper_three {
    display: flex;
    flex-direction: column;
}